<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <link rel="stylesheet" href="../css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../js/login-form.js" type="text/javascript"></script>
</head>
<body>
  <main>
    <div class="container">
      <p class="title-sign-in">Please Sign In</p>
      <form action="fb.com" class="login-form" id="submitForm" onsubmit="validateLoginForm();">
        <span style="color: red; margin-left: 10px;" id="error"></span>
        <input class="input-tag" type="text" name="email" id="email" placeholder="E-mail">
        <input type="password" class="input-tag" name="password" id="password" placeholder="Password">
        <div class="remember-me">
          <input type="checkbox" name="remember" id="remember"><span>Remember me</span>
        </div>
        <button type="button" class="btn-login" onclick="validateLoginForm();">Login</button>
        
        <a href="#" class="link-register">Click here to Register</a>
      </form>
    </div>
  </main>
</body>
</html>