<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <link rel="stylesheet" href="../css/register.css">
  <script src="../js/register.js" type="text/javascript"></script>
</head>
<body>
  <main>
    <div class="container">
      <p class="title-sign-in">Register</p>
      <form action="" class="login-form">
        <span style="color: red; margin-left: 10px;" id="error"></span>
        <input class="input-tag" type="text" name="userName" id="userName" placeholder="User name">
        <input class="input-tag" type="text" name="email" id="email" placeholder="E-mail">
        <input class="input-tag" type="password" name="password" id="password" placeholder="Password">
        <input class="input-tag" type="password" name="rePassword" id="rePassword" placeholder="Re Password">
        <div class="remember-me">
          <input type="checkbox" name="remember" id="remember"><span>Remember me</span>
        </div>
        <button class="btn-login" type="button" onclick="validateLoginForm()">Register</button>
        <a href="#" class="link-register">Click here to Login</a>
      </form>
    </div>
  </main>
</body>
</html>