
  <h2 class="font-weight-normal pt-4 pl-3">Edit Profile</h2>
  <hr>
  <div class="profile-form border">
    <p class="py-2 border-bottom profile-element-txt pl-3">Profile Form Element</p>
    <form class="pl-3 w-75">
      <span style="color: red; margin-left: 10px;" id="error"></span>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control check-valid" id="firstName"
          placeholder="Enter the first name">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control check-valid" id="lastName" 
          placeholder="Enter the last name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control check-valid" id="phone" placeholder="Enter your number phone">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea type="text" class="form-control check-valid" id="desc"></textarea>
      </div>

      <button type="button" class="btn btn-success" onclick="validateLoginForm()">Submit</button>
      <button type="submit" class="btn btn-success">Reset</button>
    </form>
  </div>
