
<h2 class="font-weight-normal pt-4 pl-3">View Content</h2>
<hr>
<div class="profile-form border">
  <p class="py-2 border-bottom profile-element-txt pl-3">View Content List</p>
  <form class="pl-3">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Brief</th>
          <th>Create Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="font-weight-normal">
          <td>1</td>
          <td>TungNV</td>
          <td>123123</td>
          <td>123123</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
